@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: rgb(95, 219, 95);
}

img{
    max-height: 90px;
}

table.menu{
    width: 100%;
    background-color: rgb(95, 219, 95);
}

a{
    color: white;
}